/* Option Css */
.aClass div {
  display: inline-block;
}

.gina {
  float: right;
  transform: translate(0, 55%);
}

.list-group{
  margin-left: 60px;
}

li {
  margin: 2px;
  border-radius: 0.25em !important;
  border-width: 0.1em !important;
  transition: 0.3s;
}

/* https://material-ui.com/customization/color/ */

li.background-green {
  background-color: #a5d6a7;
}

li.background-green:hover {
  background-color: #66bb6a;
}

li.background-lightgreen {
  background-color: #c5e1a5;
}

li.background-lightgreen:hover {
  background-color: #9ccc65;
}

li.background-blue {
  background-color: #81d4fa;
}

li.background-blue:hover {
  background-color: #29b6f6;
}

li.background-orange {
  background-color: #ffcc80;
}

li.background-orange:hover {
  background-color: #ffa726;
}

li.background-red {
  background-color: #ef9a9a;
}

li.background-red:hover {
  background-color: #ef5350;
}