.question-div {
  position: relative;
  text-align: center;
}

.balloon {
  width: 70%;
  float: left;
  transform: translate(0, -10%);
}

.text-question {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-80%, -50%);
}