.question {
  background-image: url('../images/balloon-white.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 289px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 150px;
}